# =========================
# DATASETS
# =========================

data/raw/
data/processed/
*.csv

# =========================
# PYTHON
# =========================

__pycache__/
*.pyc
*.pyo

# =========================
# VIRTUAL ENVIRONMENT
# =========================

.venv/
venv/

# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/

# =========================
# IDE FILES
# =========================

.idea/
.vscode/

# =========================
# OUTPUTS
# =========================

outputs/

# =========================
# SYSTEM FILES
# =========================

.DS_Store
Thumbs.db